<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ConnectionTimeout" value="0"/>
    <add key="CommandTimeout" value="30"/>
    <add key="TCPIP" value="true"/>
    <add key="Pooling" value="False"/>
    <add key="MaxPoolSize" value="100"/>
    <add key="ApplicationName" value="WEBServiceMSA"/>
    <add key="Computer" value="server"/>
    <add key="Server" value="server"/>
    <add key="Data Source" value="SCTV"/>
    <add key="Database" value="SCTV"/>
    <add key="OS_PATH" value="D:\projetos\ROTEIRO\WEBServiceMSA\"/>
    <add key="crypt" value="false"/>
    <add key="SmtpServer" value=""/>
    <add key="SmtpPorta" value="25"/>
    <add key="From" value="sctvnet@sctv.com.br"/>
    <add key="To" value="suporte@cartv.com.br"/>
    <add key="Cc" value=""/>
    <add key="Cco" value=""/>
    <add key="subject" value="Notificação de Erro do SCTVNET"/>
    <add key="Body" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="sctvConnectionString" connectionString="Data Source=SERVER;Initial Catalog=sctv;Integrated Security=True"-->
    <add name="SCTVConnectionString" connectionString="Data Source=SERVER;Initial Catalog=SCTV;User ID=SA;Password=JUNHO" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <authentication mode="Windows"/>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
    </webServices>
    <pages/>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>