<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		
		<!--Desenvolvimento : HTTP://localhost/webserviceMsa
        Produção: URL: http://sctvnet.sbt.com.br/
		    Homologação: http://sctvnethomolog.sbt.com.br/WebserviceMsa/
		    Demonstração: http://WEBSERVICEMSA/WebserviceMsa/
        
		 -->
    

    <add key="url_asmxAM"					            value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxAM.asmx"/>
		<add key="url_asmxAssocProduto_Terceiro"  value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxAssocProduto_Terceiro.asmx"/>
		<add key="url_asmxAutorizacao"			      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxAutorizacao.asmx"/>
		<add key="url_asmxBaixaMR"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxBaixaMR.asmx"/>
		<add key="url_asmxBaixaVeiculacao"		    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxBaixaVeiculacao.asmx"/>
		<add key="url_asmxBreak"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxBreak.asmx"/>
		<add key="url_asmxCaracVeiculacao"		    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxCaracVeiculacao.asmx"/>
		<add key="url_asmxCE"					            value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxCE.asmx"/>
		<add key="url_asmxComplemento"			      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxComplemento.asmx"/>
		<add key="url_asmxContato"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxContato.asmx"/>
		<add key="url_asmxControleFita"			      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxControleFita.asmx"/>
		<add key="url_asmxCredito"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxCredito.asmx"/>
		<add key="url_asmxCriticaValoracao"		    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxCriticaValoracao.asmx"/>
		<add key="url_asmxDeterminacaoTitulo"     value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxDeterminacaoTitulo.asmx"/>
		<add key="url_asmxEmpresa"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxEmpresa.asmx"/>
		<add key="url_asmxFaixaHoraria"			      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxFaixaHoraria.asmx"/>
		<add key="url_asmxFatura"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxFatura.asmx"/>
		<add key="url_asmxFita_Ordenada"		      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxFita_Ordenada.asmx"/>
		<add key="url_asmxGenero"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxGenero.asmx"/>
		<add key="url_asmxGrade"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxGrade.asmx"/>
		<add key="url_asmxGradeCompetencia"		    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxGradeCompetencia.asmx"/>
		<add key="url_asmxLayOut"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxLayOut.asmx"/>
		<add key="url_asmxMercado"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxMercado.asmx"/>
		<add key="url_asmxMotivo"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxMotivo.asmx"/>
		<add key="url_asmxMR"					            value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxMR.asmx"/>
		<add key="url_asmxNaturezaServico"		    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxNaturezaServico.asmx"/>
		<add key="url_asmxNegociacao"			        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxNegociacao.asmx"/>
		<add key="url_asmxNucleo"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxNucleo.asmx"/>
		<add key="url_asmxParametro"			        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxParametro.asmx"/>
		<add key="url_asmxParametro_Roteiro"	    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxParametro_Roteiro.asmx"/>
		<add key="url_asmxParametroValoracao"	    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxParametroValoracao.asmx"/>
		<add key="url_asmxPorta"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxPorta.asmx"/>
		<add key="url_asmxPreco"				          value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxPreco.asmx"/>
		<add key="url_asmxProduto"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxProduto.asmx"/>
		<add key="url_asmxPrograma"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxPrograma.asmx"/>
		<add key="url_asmxQualidade"			        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxQualidade.asmx"/>
		<add key="url_asmxRetornoPlayList"		    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxRetornoPlayList.asmx"/>
		<add key="url_asmxRelatorio"			        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxRelatorio.asmx"/>
		<add key="url_asmxRoteiro"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxRoteiro.asmx"/>
		<add key="url_asmxRoteiro_Confirmacao"    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxRoteiro_Confirmacao.asmx"/>
		<add key="url_asmxRoteiro_Relatorios"	    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxRoteiro_Relatorios.asmx"/>
		<add key="url_asmxRoteiroLog"			        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxRoteiroLog.asmx"/>
		<add key="url_asmxTerceiro"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxTerceiro.asmx"/>
		<add key="url_asmxTerceiroCategoria"	    value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxTerceiroCategoria.asmx"/>
		<add key="url_asmxTerceiroFuncao"		      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxTerceiroFuncao.asmx"/>
		<add key="url_asmxTipoComercial"		      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxTipoComercial.asmx"/>
		<add key="url_asmxTipoMidia"			        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxTipoMidia.asmx"/>
		<add key="url_asmxUF"					            value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxUF.asmx"/>
		<add key="url_asmxUsuario"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxUsuario.asmx"/>
		<add key="url_asmxVeiculo"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxVeiculo.asmx"/>
		<add key="url_asmxGeneric"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxGeneric.asmx"/>
		<add key="url_asmxContrato"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxContrato.asmx"/>
		<add key="url_asmxChecking"				        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxChecking.asmx"/>
		<add key="url_asmxHistoricoMr"			      value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxHistoricoMr.asmx"/>
		<add key="url_asmxMacAddress"			        value="http://sctvnethomolog.sbt.com.br/WebserviceMsa/asmxMacAddress.asmx"/>
	</appSettings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog"
     type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
     initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
</configuration>
